* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 50px;
}

.add-button {
  border: 2px solid;
  padding: 20px;
  font-size: 30px;
}

.product-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  gap: 50px;
}

.product-item {
  display: flex;
  align-items: center;
  justify-content: start;
  border: 2px solid;
  font-size: 30px;
  padding: 20px;
  cursor: pointer;
}

.product-item-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin-bottom: 20px;
  height: 50px;
  width: 300px;
  text-align: start;
}

.product-item-item-button {
  font-size: 20px;
}